services:
  - type: web
    name: web-security-vulnerabilities-demo
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production

